---
import i18next from 'i18next';
import { t } from 'i18next';
import { HeadHrefLangs } from 'astro-i18next/components';
import '@fontsource/inter';
import '@fontsource/inter/500.css';
import '@fontsource/inter/600.css';
import '@fontsource/inter/700.css';
import '@fontsource/inter/800.css';
import '@fontsource/inter/900.css';
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="VoicePlay for Steel Darts" />
    <meta property="og:description" content="VoicePlay for Steel Darts" />
    <meta property="og:image" content="/open-graph.png" />
    <meta property="og:url" content="https://dartsense.com" />
    <meta name="twitter:image" content="/open-graph.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="canonical" href="https://dartsense.com" />
    <title>{t('site.title')}</title>
    <!-- Meta Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        'script',
        'https://connect.facebook.net/en_US/fbevents.js',
      );
      fbq('init', '1063772355016738');
      fbq('track', 'PageView');
    </script>
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=1063772355016738&ev=PageView&noscript=1"
      /></noscript
    >
    <!-- End Meta Pixel Code -->
    <HeadHrefLangs />
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
